@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Josefin+Sans&family=PT+Mono&family=Quicksand&display=swap");

.body h2 {
  font-family: "PT Mono", monospace;
  letter-spacing: 5px;
  color: white;
  font-size: 50sp;
  line-height: 50px;
}
.explore {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 15vh;
  position: relative;
  bottom: 0;
}
.home-nav{
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}
.centerBtn{
  font-family: "Barlow Condensed", sans-serif;
}
