@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Josefin+Sans&family=PT+Mono&family=Quicksand&display=swap");

.body h2 {
  font-family: "PT Mono", monospace;
  letter-spacing: 5px;
  color: white;
  font-size: 50sp;
  line-height: 50px;
}
.explore {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 5vh;
  position: relative;
  bottom: 0;
}
.home-nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
}
.centerBtn {
  font-family: "Barlow Condensed", sans-serif;
}


.list{
  display:flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  justify-content: center;
  width: 100%;
  transition: height 2s, transform 2s;
}
.list li{
  width: 100%;
  padding: 0.5rem;
}
.entireBody{
  z-index: 1;
}